.App {
  text-align: center;
}

.container {
  width: 400px;
  margin: auto;
}

.full-width {
  width: 100%;
}

textarea,
input {
  width: 100%;
  margin-bottom: 4px;
}

button {
  margin-bottom: 4px;
}

textarea {
  height: 50px;
  overflow: auto;
}
